body {
    background-color: #F9F8F8;
}

h1, h2, h3, h4, h5, h6, p, span, a, label {
    color: #5E4955;
}

.text-color {
    color: #5E4955;
}

.primary-bg {
    background-color: #F9F8F8;
}

.secondary-bg {
    background-color: #E3DEDE;
}